/*
	3. Utilities
	These things get used a lot
*/

/* Hides junk */
.hidden {
	text-indent: -9999px;
	visibility: hidden;
	display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

/* Centers vertically (IE8+) */
.vertical {
	display: table-cell;
	vertical-align: middle;
}

/* Micro Clearfix */
.cf:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Desktop only */
@media only screen and (min-width: 50em) {
	.leftcolumn {
	width: 400px;
}
}

/* mobile */
@media (max-width:50em) {
  .page-row {
    flex-direction: column;
  }

  .leftcolumn {
	width: 100%;
	}
} 



.leftcolumn h2{
	text-align: left;	
}

.grouped-list-item {
	margin: 10px;
}

.with-bottom-border {
	border-bottom: 1px solid var(--accent-color);
}