{{!< default}}

{{#if @site.blog.cover_image}}
	<div class="page-scroll">
{{/if}}
<div class="site-main">

{{! The main content area on the homepage }}
<main class="site-content" role="main">

	<h1>{{tag.name}}</h1>
	<p> {{tag.description}} </p>


	{{> "loop"}}

</main>