:root {
	/* Colors */
	--background-color: #F6F8FA;
	--text-color: #222222;
	--secondary-text-color: #82969C;
	--accent-color: #009BCD;
	--secondary-accent-color: #007EA6;
	--highlight-color: RGBA(147, 187, 201, 0.5);
	--button-orange: #f06142;
	--button-yellow: #fdcf08;
	--nav-link: #000;
	
	/* Fonts */
	--font-family: "Oxygen", "Helvetica Neue", "Arial", sans-serif;
}